@model ReminderUpdateRequest

<section class="form-section">
    <form asp-action="UpdateReminder" asp-controller="Reminder" method="post" class="form-box">
        <input type="hidden" value="@Model.ID" name="ID"/>
        <div class="flex flex-spaced flex-align-center">
            <h2 class="form-heading title-decoration">Atualizar</h2>
            <i class="ph ph-tooth form-heading"></i>
        </div>
        <div>
            <div class="input-box">
                <i class="ph ph-stethoscope input-icon"></i>
                <label class="form-label" asp-for="ReminderType">Tipo de lembrete</label>
                <select asp-for="ReminderType" asp-items="@ViewBag.RemindersType" class="combo-box-input">
                    <option value="">Por favor selecione um tipo de lembrete</option>
                </select>
                <span class="input-decoration"></span>
            </div>
            <div class="input-validation-message-box">
                <span asp-validation-for="ReminderType" class="validate-message"></span>
            </div>

            <div class="input-box">
                <i class="ph ph-calendar input-icon"></i>
                <label class="form-label" asp-for="ActityDate">Data da do lembrete</label>
                <input class="form-input" asp-for="ActityDate" id="ActivityDay" />

                <span class="input-decoration"></span>
            </div>
            <div class="input-validation-message-box">
                <span asp-validation-for="ActityDate" class="validate-message"></span>
            </div>

            <div class="input-box">
                <i class="ph ph-chat-circle-dots input-icon"></i>
                <label class="form-label" asp-for="ActivityDescription">Descrição da Atividade</label>
                <textarea class="form-input" asp-for="ActivityDescription"></textarea>
                <span class="input-decoration"></span>
            </div>
            <div class="input-validation-message-box">
                <span asp-validation-for="ActivityDescription" class="validate-message"></span>
            </div>

            <div class="buttons-box">
                <button class="btn-form btn-send">Atualizar <i class="ph ph-calendar-check"></i></button>
                <button class="btn-form btn-reset" type="reset">Limpar <i class="ph ph-broom"></i></button>
            </div>
        </div>
    </form>
</section>

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" asp-fallback-test="window.jQuery" asp-fallback-src="~/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.4/jquery.validate.min.js" asp-fallback-test="window.jQuery.validator" asp-fallback-src="~/jquery.validate.min.js" integrity="sha512-FOhq9HThdn7ltbK8abmGn60A/EMtEzIzv1rvuh+DqzJtSGq8BRdEN0U+j0iKEIffiw/yEtVuladk6rsG4X6Uqg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js" asp-fallback-test="window.jQuery.validator.unobtrusive" asp-fallback-src="~/jquery.validate.unobtrusive.min" integrity="sha512-o6XqxgrUsKmchwy9G5VRNWSSxTS4Urr4loO6/0hYdpWmFUfHqGzawGxeQGMDqYzxjY9sbktPbNlkIQJWagVZQg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}

