@model RequestedPatientAddRequest

@{
    Layout = "~/Views/Shared/_LayoutGerarSorrisos.cshtml";
}

<section class="hero-section">
    <div class="hero">
        <div class="hero-content-box">
            <h1 class="primary-heading">Slogan da empresa vem aqui</h1>
            <p class="hero-description">
                Um pequeno texto contando um pouco sobre oque é e como funciona a
                empresa
            </p>
            <a href="#cta-anchor" class="btn btn-full margin-right-sm">Melhorar seu sorriso</a>
            <a href="#feature-anchor" class="btn btn-outline">Saiba Mais &darr;</a>
            <div class="delivered-meals">
                <div class="delivered-imgs">
                    <img src="/imgs/gerar-sorrisos-imgs/customers/customer-1.jpg" alt="Custumer Photo" />
                    <img src="/imgs/gerar-sorrisos-imgs/customers/customer-2.jpg" alt="Custumer Photo" />
                    <img src="/imgs/gerar-sorrisos-imgs/customers/customer-3.jpg" alt="Custumer Photo" />
                    <img src="/imgs/gerar-sorrisos-imgs/customers/customer-4.jpg" alt="Custumer Photo" />
                    <img src="/imgs/gerar-sorrisos-imgs/customers/customer-5.jpg" alt="Custumer Photo" />
                    <img src="/imgs/gerar-sorrisos-imgs/customers/customer-6.jpg" alt="Custumer Photo" />
                </div>
                <p><span>99+</span> consultam na clinica</p>
            </div>
        </div>
        <div class="hero-image-box">
            <img src="/imgs/gerar-sorrisos-imgs/hero-img.jpg" alt="hero-image" class="hero-image" />
        </div>
    </div>
</section>

<section class="section-feature" id="feature-anchor">
    <div class="container grid grid--4--cols">
        <div class="feature">
            <i class="ph ph-house feature-icon"></i>
            <p class="feature-title">Acesso</p>
            <p class="feature-text">
                Aqui você pode gerar um sorriso lindo e cuidar da sua saúde bucal!
            </p>
        </div>
        <div class="feature">
            <i class="ph ph-heartbeat feature-icon"></i>
            <p class="feature-title">Conforto</p>
            <p class="feature-text">
                A favor do seu conforto e bem-estar temos as melhores instalações!
            </p>
        </div>
        <div class="feature">
            <i class="ph ph-tooth feature-icon"></i>
            <p class="feature-title">Conviniência</p>
            <p class="feature-text">
                Uma vasta variedade de serviços odontológicos em um só lugar!
            </p>
        </div>
        <div class="feature">
            <i class="ph ph-star feature-icon"></i>
            <p class="feature-title">Qualidade</p>
            <p class="feature-text">
                Qualidade, certificamos de ter apenas profissionais na area.
            </p>
        </div>
    </div>
</section>

<section class="section-testemonials" id="testemonials-anchor">
    <div class="testemonials-container">
        <span class="sub-heading">Testemunhos</span>
        <h2 class="secondary-heading">Slogan da empresa</h2>
        <div class="testemonials">
            <figure class="testimonial">
                <img class="testemonial-img"
                     src="/imgs/gerar-sorrisos-imgs/customers/ben.jpg"
                     alt="Cliente" />
                <blockquote class="testemonial-text">
                    Texto descritivo sobre o testemunho da pessoa 1
                </blockquote>
                <span class="testemonial-name">&mdash; Pessoa 1 </span>
            </figure>

            <figure class="testimonial">
                <img class="testemonial-img"
                     src="/imgs/gerar-sorrisos-imgs/customers/dave.jpg"
                     alt="Cliente" />
                <blockquote class="testemonial-text">
                    Texto descritivo sobre o testemunho da pessoa 2
                </blockquote>
                <span class="testemonial-name">&mdash; Pessoa 2 </span>
            </figure>

            <figure class="testimonial">
                <img class="testemonial-img"
                     src="/imgs/gerar-sorrisos-imgs/customers/steve.jpg"
                     alt="Cliente" />
                <blockquote class="testemonial-text">
                    Texto descritivo sobre o testemunho da pessoa 3
                </blockquote>
                <span class="testemonial-name">&mdash; Pessoa 3 </span>
            </figure>

            <figure class="testimonial">
                <img class="testemonial-img"
                     src="/imgs/gerar-sorrisos-imgs/customers/hannah.jpg"
                     alt="Cliente" />
                <blockquote class="testemonial-text">
                    Texto descritivo sobre o testemunho da pessoa 4
                </blockquote>
                <span class="testemonial-name">&mdash; Pessoa 4 </span>
            </figure>
        </div>
    </div>
    <div class="gallery">
        <figure class="gallery-item">
            <img src="/imgs/gerar-sorrisos-imgs/gallery/galery-1.jpg"
                 alt="Foto ilustrando a clinica" />
        </figure>
        <figure class="gallery-item">
            <img src="/imgs/gerar-sorrisos-imgs/gallery/galery-2.jpg"
                 alt="Foto ilustrando a clinica" />
        </figure>
        <figure class="gallery-item">
            <img src="/imgs/gerar-sorrisos-imgs/gallery/galery-1.jpg"
                 alt="Foto ilustrando a clinica" />
        </figure>
        <figure class="gallery-item">
            <img src="/imgs/gerar-sorrisos-imgs/gallery/galery-2.jpg"
                 alt="Foto ilustrando a clinica" />
        </figure>
        <figure class="gallery-item">
            <img src="/imgs/gerar-sorrisos-imgs/gallery/galery-1.jpg"
                 alt="Foto ilustrando a clinica" />
        </figure>
        <figure class="gallery-item">
            <img src="/imgs/gerar-sorrisos-imgs/gallery/galery-2.jpg"
                 alt="Foto ilustrando a clinica" />
        </figure>
        <figure class="gallery-item">
            <img src="/imgs/gerar-sorrisos-imgs/gallery/galery-1.jpg"
                 alt="Foto ilustrando a clinica" />
        </figure>
        <figure class="gallery-item">
            <img src="/imgs/gerar-sorrisos-imgs/gallery/galery-2.jpg"
                 alt="Foto ilustrando a clinica" />
        </figure>
        <figure class="gallery-item">
            <img src="/imgs/gerar-sorrisos-imgs/gallery/galery-1.jpg"
                 alt="Foto ilustrando a clinica" />
        </figure>
        <figure class="gallery-item">
            <img src="/imgs/gerar-sorrisos-imgs/gallery/galery-2.jpg"
                 alt="Foto ilustrando a clinica" />
        </figure>
        <figure class="gallery-item">
            <img src="/imgs/gerar-sorrisos-imgs/gallery/galery-1.jpg"
                 alt="Foto ilustrando a clinica" />
        </figure>
        <figure class="gallery-item">
            <img src="/imgs/gerar-sorrisos-imgs/gallery/galery-2.jpg"
                 alt="Foto ilustrando a clinica" />
        </figure>
    </div>
</section>

<section class="section-cta" id="cta-anchor">
    <div class="container">
        <div class="cta-grid">
            <div class="cta-text-box">
                <h2 class="secondary-heading">Entre em contato</h2>
                <p class="cta-text">
                    Nós envie seus dados para que assim o nosso gerenciador possa
                    entrar em contato para agendar serviços odontologicos
                </p>
                <form asp-action="GerarSorrisos" asp-controller="Home" method="post" class="cta-form">
                    <input asp-for="ClinicID" value="@ViewBag.Clinic.ID" style="display: none" />
                    <div>
                        <label asp-for="PatientName">Nome Completo</label>
                        <input asp-for="PatientName" type="text" placeholder="Guilherme Marques" id="full-name" required />
                        <div class="input-validation-message-box">
                            <span asp-validation-for="PatientName" style="font-size: 1.3rem; color: red"></span>
                        </div>
                    </div>
                    <div>
                        <label asp-for="PhoneNumber">Telefone:</label>
                        <input asp-for="PhoneNumber" type="phone" placeholder="18996630552" id="phone" required />
                        <div class="input-validation-message-box">
                            <span asp-validation-for="PhoneNumber" style="font-size: 1.3rem; color: red"></span>
                        </div>
                    </div>

                    <button class="btn btn-form">Enviar dados</button>
                </form>
            </div>
            <div class="cta-img-box"
                 role="img"
                 aria-label="Mulher atendendo"></div>
        </div>
    </div>
</section>

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" asp-fallback-test="window.jQuery" asp-fallback-src="~/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.4/jquery.validate.min.js" asp-fallback-test="window.jQuery.validator" asp-fallback-src="~/jquery.validate.min.js" integrity="sha512-FOhq9HThdn7ltbK8abmGn60A/EMtEzIzv1rvuh+DqzJtSGq8BRdEN0U+j0iKEIffiw/yEtVuladk6rsG4X6Uqg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js" asp-fallback-test="window.jQuery.validator.unobtrusive" asp-fallback-src="~/jquery.validate.unobtrusive.min" integrity="sha512-o6XqxgrUsKmchwy9G5VRNWSSxTS4Urr4loO6/0hYdpWmFUfHqGzawGxeQGMDqYzxjY9sbktPbNlkIQJWagVZQg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}