@model IList<ManagerDTO>

<form asp-action="ListManager" asp-controller="Manager" method="get">
    <div class="search-box">
        <input type="search" value="@ViewBag.CurrentSearchString" id="Search" name="searchString" class="input-search" placeholder="Pesquisar" />
        <a asp-action="NewManager" asp-controller="Manager" class="btn btn-full btn-add-new">Novo</a>
        <button class="btn-search"><i class="ph ph-magnifying-glass"></i></button>
    </div>
</form>

@{
    await Html.RenderPartialAsync("_ShowSuccessError");
}


<div class="table-container">
    <table class="table">
        <thead class="table-header table-5">
            <tr class="table-row-header">
                <th class="table-head-column">
                    Gerenciador
                </th>
                <th class="table-head-column">
                    Email
                </th>
                <th class="table-head-column">
                    Telefone
                </th>
                <th class="table-head-column">
                    Clinica
                </th>
                <th class="table-head-column"></th>
            </tr>
        </thead>
        <tbody class="table-body">
            @foreach (var item in Model)
            {
                <tr class="table-row-body">
                    <td class="table-column">
                        <p class="table-item">@item?.PersonName</p>
                    </td>
                    <td class="table-column">
                        <p class="table-item">@item?.Email</p>
                    </td>
                    <td class="table-column">
                        <p class="table-item">@item?.Phone</p>
                    </td>
                    <td class="table-column">
                        <p class="table-item">@item?.Clinic?.ClinicName</p>
                    </td>
                    <td class="table-column">
                        <div class="flex gap-sm">
                            <a asp-controller="Manager" class="btn-default btn-option" asp-action="UpdateManager" asp-route-id="@item?.ID"><i class="ph ph-gear"></i></a>
                            <p class="hidden item-name">@item?.PersonName</p>
                            <p class="hidden item-id">@item?.ID</p>
                            <button class="btn-modal btn-warning btn-option"><i class="ph ph-trash-simple"></i></button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="flex flex-spaced table-footer">
        <div class="flex gap-md flex-align-center">
            <i class="ph ph-caret-left pagination-icon previous-tab"></i>
            <div class="pagination-numbers flex gap-sm"></div>
            <i class="ph ph-caret-right pagination-icon next-tab"></i>
        </div>
        <div class="total-registers-info flex">
            Total:<p id="total-registers">@ViewBag.TotalRegisters</p>
        </div>
    </div>
</div>

<div class="modal hidden">
    <h3 class="subheading modal-heading mg-bt-bg">Confirmar Exclusão?</h3>
    <p class="modal-message">
        Você realmente deseja excluir
    </p>
    <p class="modal-info">Todos os <b>pacientes e dentistas</b> atrelados a esse item serão excluidos juntamente.</p>
    <div class="flex flex-align-center modal-box gap-md mg-tp-md">
        <button class="close-modal mg-rg-sm">Manter</button>
        <form method="post" class="form-modal" asp-action="DeleteManager" asp-controller="Manager">
            <button type="submit" class="btn-modal-item btn-warning btn-option"><i class="ph ph-trash-simple"></i></button>
        </form>
    </div>
</div>
<div class="overlay element-hidden"></div>
