@model ClinicAddRequest

<section class="form-section">
    <form asp-action="NewClinic" asp-controller="Clinic" method="post" class="form-box">
        <div class="flex flex-spaced flex-align-center">
            <h2 class="form-heading title-decoration">Registrar Cliníca</h2>
            <i class="ph ph-tooth form-heading"></i>
        </div>
        <div class="form-inputs-box">
            <div class="input-box">
                <i class="ph ph-user input-icon"></i>
                <label class="form-label" asp-for="ClinicName">Nome da Cliníca</label>
                <input class="form-input" asp-for="ClinicName" placeholder="Sorriso Bonito" />

                <span class="input-decoration"></span>
            </div>
            <div class="input-validation-message-box">
                <span asp-validation-for="ClinicName" class="validate-message"></span>
            </div>
            <div class="input-box">
                <i class="ph ph-files input-icon"></i>
                <label class="form-label" asp-for="CNPJ">CNPJ</label>
                <input class="form-input" asp-for="CNPJ" placeholder="00.000.000/0000-00" />
                <span class="input-decoration"></span>
            </div>
            <div class="input-validation-message-box">
                <span asp-validation-for="CNPJ" class="validate-message"></span>
            </div>
            <div class="input-box">
                <i class="ph ph-buildings input-icon"></i>
                <label class="form-label" asp-for="City">Cidade</label>
                <select asp-for="City" asp-items="@ViewBag.Cities" class="combo-box-input">
                    <option value="">Por favor selecione uma cidade</option>
                </select>
                <span class="input-decoration"></span>
            </div>
            <div class="input-validation-message-box">
                <span asp-validation-for="City" class="validate-message"></span>
            </div>
            <div class="input-box">
                <i class="ph ph-phone input-icon"></i>
                <label class="form-label" asp-for="Phone">Telefone</label>
                <input class="form-input" asp-for="Phone" placeholder="(18) 99999-9999" />
                <span class="input-decoration"></span>
            </div>
            <div class="input-validation-message-box">
                <span asp-validation-for="Phone" class="validate-message"></span>
            </div>
            <div class="input-box-duo">
                <div class="input-box">
                    <i class="ph ph-password input-icon-box-duo"></i>
                    <label class="form-label" asp-for="StreetName">Rua</label>
                    <input class="form-input" asp-for="StreetName" placeholder="Alam. Alvares Martins" />
                    <span class="input-decoration-box-duo"></span>
                    <div class="input-validation-message-box">
                        <span asp-validation-for="StreetName" class="validate-message"></span>
                    </div>
                </div>
                
                <div class="input-box">
                    <i class="ph ph-phone input-icon-box-duo"></i>
                    <label class="form-label" asp-for="Neighborhood">Bairro</label>
                    <input class="form-input" asp-for="Neighborhood" placeholder="Jardim das Palmeiras" />

                    <span class="input-decoration-box-duo"></span>
                    <div class="input-validation-message-box">
                        <span asp-validation-for="Neighborhood" class="validate-message"></span>
                    </div>
                </div>
            </div>
            
            <div class="buttons-box">
                <button class="btn-form btn-send">Cadastrar <i class="ph ph-paper-plane-tilt"></i></button>
                <button class="btn-form btn-reset" type="reset">Limpar <i class="ph ph-broom"></i></button>
            </div>
        </div>
    </form>
</section>

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" asp-fallback-test="window.jQuery" asp-fallback-src="~/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.4/jquery.validate.min.js" asp-fallback-test="window.jQuery.validator" asp-fallback-src="~/jquery.validate.min.js" integrity="sha512-FOhq9HThdn7ltbK8abmGn60A/EMtEzIzv1rvuh+DqzJtSGq8BRdEN0U+j0iKEIffiw/yEtVuladk6rsG4X6Uqg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js" asp-fallback-test="window.jQuery.validator.unobtrusive" asp-fallback-src="~/jquery.validate.unobtrusive.min" integrity="sha512-o6XqxgrUsKmchwy9G5VRNWSSxTS4Urr4loO6/0hYdpWmFUfHqGzawGxeQGMDqYzxjY9sbktPbNlkIQJWagVZQg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}
